<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		<!--Muse-UI框架引入-->
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<script src="js/mui.js"></script>
		<script src="js/bluetooth/BluetoothTool.js"></script>
		<script src="js/log/log.js"></script>
		<style>
			.material-icons:active{
				color: red;
			}
		</style>
	</head>
	<body style="background: #555555;">
		<div id="app">
			<mu-appbar style="width: 100%;padding-top: 1.2rem;" color="primary">
				<mu-row gutter>
					<mu-col span="3">
						<div  style="font-size: 16px;height: 20px;">
							<mu-menu slot="left">
							   <mu-button flat><span>时钟发送</span></mu-button>
							   <mu-list slot="content">
							     <mu-list-item button @click="back_main()">
							       <mu-list-item-content>
							         <mu-list-item-title>简易发送</mu-list-item-title>
							       </mu-list-item-content>
							     </mu-list-item>
							     <mu-list-item button @click="back_img()">
							       <mu-list-item-content>
							         <mu-list-item-title>图像发送</mu-list-item-title>
							       </mu-list-item-content>
							     </mu-list-item>
							   </mu-list>
							 </mu-menu>
						</div>
					</mu-col>
					<mu-col span="6">
						
					</mu-col>
					<mu-col span="3">
						<span @click="back()">
							<i class="material-icons">
								reply
							</i>
						</span>
						<span>&nbsp;</span>
						<span>
							<i class="material-icons">
								settings_applications
							</i>
						</span>		
					</mu-col>
				</mu-row>
			</mu-appbar>
			<div style="margin-top: 1rem;">
				<mu-tabs :value.sync="active" :full-width="true" indicator-color="#FFD700" style="height: 25px;">
					<mu-tab>数字时钟</mu-tab>
					<mu-tab>内置图库</mu-tab>
					<mu-tab>时钟设置</mu-tab>
				</mu-tabs>
				<div v-if="active === 0">
					<mu-row gutter>
						<mu-col span="6">
						<div style="margin: 8px 10px;padding: 4px;" >
							<canvas id="canvas" width="160" height="160"></canvas>
						</div>
						</mu-col>
						<mu-col span="6" > 
							<div style="margin: 8px 10px;">
								<mu-flex class="select-control-row">
									<mu-checkbox v-model="show" label="预览" @click="set_showdz()"></mu-checkbox>
								</mu-flex>
							</div>
							<div style="margin: 8px 10px;">
								<mu-flex class="select-control-row">
									<mu-checkbox v-model="time" label="刷新" @click="update_time()"></mu-checkbox>
								</mu-flex>
							</div>
						</mu-col>
					</mu-row>
					
					
				</div>
				<div v-if="active === 1">
					1
				</div>
				<div v-if="active === 2">
					2
				</div>
			</div>
		</div>
	</body>
	<script src="js/img/number.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				active : 0,
				show : true,
				time : false
			},
			methods:{
				back(){
					window.location.href = "find_dev.html";
				},
				back_main(){
					window.location.href = "main.html";
				},
				back_img(){
					window.location.href = "img_send.html";
				},
				update_time(){
					set_date(clock_dz,number,CurentTime());
					renderDigit(clock_dz);
					this.time = false;
				}
			}
		});
		
		var WINDOW_WIDTH = 160;
		var WINDOW_HEIGHT= 160;
		
		var r = 2.1;
		var m = 4.6;
		
		set_date(clock_dz,number,CurentTime());
		//ctx.clearRect(0, 0, WINDOW_HEIGHT, WINDOW_WIDTH);
		 renderDigit(clock_dz);
		
		//填充点阵
		function renderDigit(data){
			var canvas = document.getElementById('canvas');
			var ctx=canvas.getContext('2d');
			ctx.clearRect(0,0,WINDOW_WIDTH,WINDOW_HEIGHT);
			for (var i = 0; i < 32; i++) {
				for (var j = 0; j < 32; j++) {
					if (data[i * 32 + j] == 1) {
						ctx.beginPath();
						ctx.arc((j + 0.5) * m, m * (i + 0.5), r, 0, 2 * Math.PI, true); //显示像素点的位置与大小 半径3 
						ctx.fillStyle = 'yellow'; //填充颜色
						ctx.fill();
					} 
					else{
						ctx.beginPath();
						ctx.arc((j + 0.5) * m, m * (i + 0.5), r, 0, 2 * Math.PI, true); //显示像素点的位置与大小 半径3 
						ctx.fillStyle = 'black'; //填充颜色
						ctx.fill();
					} 
				}
			}
		}
		
	</script>
</html>
