<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		<!--Muse-UI框架引入-->
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<script src="js/mui.js"></script>
		<script src="js/bluetooth/BluetoothTool.js"></script>
		<script src="js/log/log.js"></script>
		<style>
			.material-icons:active{
				color: red;
			}
			.cols{
				border: #F0F0F0 solid 1px;
				border-radius: 4px;
				padding: 4px;
			}
			.rows{
				margin: 4px 4px;
				
			}
			.edit:active{
				color: red;
			}
		</style>
	</head>
	<body style="background: #555555;">
		<div id="app" >
			<mu-appbar style="width: 100%;padding-top: 1.2rem;" color="primary">
				<mu-row gutter>
					<mu-col span="3">
						<div  style="font-size: 16px;height: 20px;">
							<mu-menu slot="left">
							   <mu-button flat><span>图像发送</span></mu-button>
							   <mu-list slot="content">
							     <mu-list-item button @click="back_main()">
							       <mu-list-item-content>
							         <mu-list-item-title>简易发送</mu-list-item-title>
							       </mu-list-item-content>
							     </mu-list-item>
							     <mu-list-item button @click="back_clock()">
							       <mu-list-item-content>
							         <mu-list-item-title>时钟发送</mu-list-item-title>
							       </mu-list-item-content>
							     </mu-list-item>
							   </mu-list>
							 </mu-menu>
						</div>
					</mu-col>
					<mu-col span="6">
						
					</mu-col>
					<mu-col span="3">
						<span @click="back()">
							<i class="material-icons">
								reply
							</i>
						</span>
						<span>&nbsp;</span>
						<span>
							<i class="material-icons">
								settings_applications
							</i>
						</span>		
					</mu-col>
				</mu-row>
			</mu-appbar>
			<div style="margin-top: 1rem;">
				<mu-tabs :value.sync="active" :full-width="true" indicator-color="#FFD700" style="height: 25px;">
					<mu-tab>预览</mu-tab>
					<mu-tab>内置图库</mu-tab>
					<mu-tab>我的收藏</mu-tab>
					<mu-tab>特效</mu-tab>
				</mu-tabs>
				<div v-if="active === 0">
					1
				</div>
				<div v-if="active === 1">
					<mu-row gutter v-for="col in img" class="rows">
						<mu-col span="3" v-for="j in col" style="padding: 2px;" >
							<div class="cols">
								<mu-avatar color="teal" :size="size" @click="edit_img(j)" class="edit">
								  {{j}}
								</mu-avatar>
								<div><mu-checkbox v-model="edit" label="编辑"></mu-checkbox></div>
							
							</div>
						</mu-col>
					</mu-row>
				</div>
				<div v-if="active === 2">
				
				</div>
				<div v-if="active === 3">
					4
				</div>
			</div>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				active : 1,
				img : [
					[1,2,3,4],
					[5,6,7,8],
					[9,10,11,12]
				],
				edit : false,
				size : 70
			},
			methods:{
				back(){
					window.location.href = "find_dev.html";
				},
				back_main(){
					window.location.href = "main.html";
				},
				back_clock(){
					window.location.href = "clock_send.html";
				},
				edit_img(i){
					console.log(i);
						window.location.href = "edit_img.html";
				}
			}
		})
	</script>
</html>
