<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		<!--Muse-UI框架引入-->
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<script src="js/mui.js"></script>
		<script src="js/bluetooth/BluetoothTool.js"></script>
		<script src="js/log/log.js"></script>
		<script src="js/request/font_data.js"></script>
		<script  type="text/javascript" src="js/img/img_data.js"></script>
		<style>
			@import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");
			.material-icons:active {
				color: red;
			}

			.showdz {
				border: 2px solid #000000;
				border-radius: 5px;
				height: 6.25rem;
				width: 6rem;
				overflow: scroll;
			}
			.simalimg {
				border: 1px solid #000000;
				border-radius: 5px;
				padding: 5px 10px;
			}
		</style>
	</head>
	<body style="background: #555555;">
		<div id="app">
			<mu-appbar style="width: 100%;padding-top: 1.2rem;" color="primary">
				<mu-row gutter>
					<mu-col span="3">
						<div style="font-size: 16px;height: 20px;">
							<mu-menu slot="left">
								<mu-button flat><span>简易发送</span></mu-button>
								<mu-list slot="content">
									<mu-list-item button @click="back_img()">
										<mu-list-item-content>
											<mu-list-item-title>图像发送</mu-list-item-title>
										</mu-list-item-content>
									</mu-list-item>
									<mu-list-item button @click="back_clock()">
										<mu-list-item-content>
											<mu-list-item-title>时钟发送</mu-list-item-title>
										</mu-list-item-content>
									</mu-list-item>
								</mu-list>
							</mu-menu>
						</div>
					</mu-col>
					<mu-col span="6" style="font-size: 16px;text-align: center;">
						{{device.name}}
					</mu-col>
					<mu-col span="3">
						<span @click="back()">
							<i class="material-icons">
								reply
							</i>
						</span>
						<span>&nbsp;</span>
						<span>
							<i class="material-icons">
								settings_applications
							</i>
						</span>
					</mu-col>
				</mu-row>
			</mu-appbar>

			<div style="height: 6.5rem; padding: 0.25rem;">
				<mu-row gutter>
					<mu-col span="4">
						<div class="showdz" id="slide">
							<div :style="dz_show" id="dz" style="width: 6rem;">

							</div>
						</div>
					</mu-col>
					<mu-col span="8">
						<div>
							<mu-flex class="select-control-row">
								<mu-checkbox v-model="is_showdz" label="预览" @click="set_showdz()"></mu-checkbox>
							</mu-flex>
						</div>
						<div>
							<mu-flex class="select-control-row">
								<mu-checkbox v-model="is_autoslide" label="滑动" @click="slide()"></mu-checkbox>
							</mu-flex>
						</div>
					</mu-col>
				</mu-row>
			</div>
			<div style="margin-top: 1rem;">
				<mu-tabs :value.sync="active" :full-width="true" indicator-color="#FFD700" style="height: 25px;">
					<mu-tab>字体</mu-tab>
					<mu-tab>标准颜色</mu-tab>
					<mu-tab>自定义</mu-tab>
					<mu-tab>特效</mu-tab>
				</mu-tabs>
				<div v-if="active === 0">
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="大小" v-model="font_size" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontSizeOptions" :key="option" :label="option.toString()" :value="option"></mu-option>
								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字体" v-model="font_style" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontStyleOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>
					</mu-container>
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字符" v-model="input_length" style="color: #FFFFFF;" disabled full-width>

								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="特效" v-model="effect" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in effectOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>

					</mu-container>
					<div style="padding: 2px;">
						<mu-text-field v-model="input_value" label="内容" full-width @blur="preview()" @focus="edit()"></mu-text-field><br />
					</div>
					<div class="simalimg">
						<div style="text-align: center;">
							简易图像
						</div>
						<div>
							<div class="button-wrapper">
								<mu-button icon color="primary" @click="insertImg(2)">
									<mu-icon value="grade"></mu-icon>
								</mu-button>
								<mu-button icon color="secondary" @click="insertImg(2)">
									<mu-icon value="android"></mu-icon>
								</mu-button>
								<mu-button icon>
									<i class="material-icons" @click="insertImg(2)">
										room
									</i>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<mu-icon value="thumb_up"></mu-icon>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<i class="material-icons">
										mail
									</i>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<i class="material-icons">
										call
									</i>
								</mu-button>
							</div>
							<div class="button-wrapper">
								<mu-button icon color="primary" @click="insertImg(2)">
									<mu-icon value="grade"></mu-icon>
								</mu-button>
								<mu-button icon color="secondary" @click="insertImg(2)">
									<mu-icon value="android"></mu-icon>
								</mu-button>
								<mu-button icon @click="insertImg(2)">
									<i class="material-icons">
										room
									</i>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<mu-icon value="thumb_up"></mu-icon>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<i class="material-icons">
										mail
									</i>
								</mu-button>
								<mu-button icon color="red" @click="insertImg(2)">
									<i class="material-icons">
										call
									</i>
								</mu-button>
							</div>
						</div>
					</div>
				</div>
				<div v-if="active === 1">
					<div style="padding: 15px 10px;">

						<mu-flex align-items="center" style="padding-bottom: 8px;">
							<span>前景色 &nbsp; </span>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #FF0000;" value="#FF0000" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #00FF00;" value="#00FF00" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #0000FF;" value="#0000FF" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #FFFF00;" value="#FFFF00" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #FF00FF;" value="#FF00FF" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #00FFFF;" value="#00FFFF" @click="set_color()"></mu-radio>
							<mu-radio v-model="foreground_color" style="margin-right: 16px;color: #FFFFFF;" value="#FFFFFF" @click="set_color()"></mu-radio>
						</mu-flex>
					</div>
					<div style="padding: 5px 10px;">

						<mu-flex align-items="center" style="padding-bottom: 8px;">
							<span>背景色 &nbsp; </span>

							<mu-radio v-model="background_color" style="margin-right: 16px;color: #FF0000;" value="#FF0000" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #00FF00;" value="#00FF00" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #0000FF;" value="#0000FF" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #FFFF00;" value="#FFFF00" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #FF00FF;" value="#FF00FF" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #00FFFF;" value="#00FFFF" @click="set_color()"></mu-radio>
							<mu-radio v-model="background_color" style="margin-right: 16px;color: #000000;" value="#000000" @click="set_color()"></mu-radio>
						</mu-flex>
					</div>
				</div>
				<div v-if="active === 2">

					3
				</div>
				<div v-if="active === 3">

					<mu-container class="button-wrapper">
						<el-row style="margin-top: 1rem;">
							<el-button type="warning" size="mini" @click="special_effects(-1)">随机</el-button>
							<el-button type="warning" size="mini" @click="special_effects(4)">左移</el-button>
							<el-button type="warning" size="mini" @click="special_effects(5)">右移</el-button>
							<el-button type="warning" size="mini" @click="special_effects(2)">上移</el-button>
							<el-button type="warning" size="mini" @click="special_effects(3)">下移</el-button>
						</el-row>
						<el-row style="margin-top: 1rem;">
							<el-button type="warning" size="mini" @click="special_effects(1)">固定</el-button>
							<el-button type="warning" size="mini" @click="special_effects(6)">闪烁</el-button>
							<el-button type="warning" size="mini" @click="special_effects(-1)">淡出</el-button>
							<el-button type="warning" size="mini" @click="special_effects(7)">溶解</el-button>
							<el-button type="warning" size="mini" @click="special_effects(8)">旋转</el-button>
						</el-row>

						<mu-container>
				</div>



				<div style="margin: 10px 5px;">
					<mu-flex justify-content="center" align-items="center">
						<mu-button full-width color="primary" @click="send()" :disabled="send_disabled">{{send_monitor}}</mu-button>
					</mu-flex>
				</div>
			</div>
		</div>
	</body>
	
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				device: {
					name: '无连接',
					isabled: false,
					id: ''
				},
				is_showdz: true,
				is_autoslide: false,
				dz_show: {
					"visibility": "visible",
				},
				active: 1,
				font_size: 16,
				fontSizeOptions: [16, 32],
				effect: '',
				effectOptions: ["x", "xs"],
				font_style: '',
				fontStyleOptions: ["宋体", "楷体"],
				inputLength: '0/20',
				input_value: '你好',
				foreground_color: '#FF0000',
				background_color: '#000000',
				dz_data: [],
				font_color: [],
				send_disabled: false,
				send_data: {
					header: {
						data: [85, 0, 1, 1, 1, 1, 1, 1, 0, 0], //9，10号位长度      8号位汉字个数,7号位汉字字体大小
						isabled: true
					},
					main: {
						data: [],
						isabled: false
					},
					end: {
						data: [119, 0, 1, 1, 1, 1, 1, 1, 0, 0],
						isabled: false
					},
					is_sending: false,
					send_index: 0,
					send_length: 0,
					send_byte: 0
				},
				return_data: '',
				img: [], //图片数据
				buffer_image: [], //图片已选择的缓存区
			},
			methods: {
				back() {
					window.location.href = "find_dev.html";
				},
				back_clock() {
					window.location.href = "clock_send.html";
				},
				back_img() {
					window.location.href = "img_send.html";
				},
				set_showdz() {
					console.log();
					if (this.is_showdz) {
						this.dz_show.visibility = "visible";
					} else {
						this.dz_show.visibility = "hidden";
					}
				},
				clear_input() {
					this.input_value = "5";
				},
				edit() {
					this.send_disabled = true;
				},
				preview() {
					this.dz_data = [];
					this.send_disabled = false;
					document.getElementById("dz").innerHTML = "";
					let img_number = 0;
					for (var i = 0; i < this.input_value.length; i++) {
						if (this.input_value[i] != "✿") {
							this.request_fontdata(this.input_value[i], 'hzk16s', i, this.font_color[i].rgb);
						} else {
							this.dz_data.push({
								"index": i,
								"data": this.buffer_image[img_number].data,
								"img": true,
							});
							img_number++;
							this.color_update();
						}
						if(img_number== this.input_value.length){
							this.dz_data.forEach((item) => {
								draw_img(item.data, app.font_color[item.index].rgb);
							});
						}
					}
				},
				request_fontdata(str, font, indexOf) {
					var dataArray = [];
					if (this.font_size == 16) {
						url = 'http://47.106.254.86:1234/server1.php';
					} else {
						url = 'http://47.106.254.86:1234/server2.php';
					}
					$.post(url, {
						txt: str,
						font: font
					}, function(data, status) {
						var srt = JSON.parse(data);
						//接收的16进制数据转2进制
						srt.forEach((item) => {
							var zero = '00000000';
							var hex = parseInt(item, 16).toString(2);
							var tmp = 8 - hex.length;
							dataArray.push(zero.substr(0, tmp) + hex);

						});
						//填充数据
						app.dz_data.push({
							"index": indexOf,
							"data": dataArray,
							"img": false
						});
						app.send_disabled = true;

						if (app.dz_data.length == app.input_value.length) {
							app.dz_data.sort(function(a, b) {
								return a.index - b.index;
							});

							//发送数据字节16-32 32-128
							app.send_data.send_byte = app.dz_data.length * (6 * app.font_size - 64);
							//发送数据段数 
							app.send_data.send_length = app.send_data.send_byte / 16;
							//汉字各使用
							app.send_data.header.data[6] = app.font_size == 16 ? 1 : 0;
							app.send_data.end.data[6] = app.font_size == 16 ? 1 : 0;
							app.send_data.header.data[7] = app.dz_data.length;
							app.send_data.end.data[7] = app.dz_data.length;

							var len = app.send_data.send_byte;
							if (len < 255) {
								app.send_data.header.data[8] = 0;
								app.send_data.end.data[8] = 0;
								app.send_data.header.data[9] = len;
								app.send_data.end.data[9] = len;
							} else {
								let GW = Math.floor(len / 256);
								let DW = len % 256;
								app.send_data.header.data[8] = GW;
								app.send_data.end.data[8] = GW;
								app.send_data.header.data[9] = DW;
								app.send_data.end.data[9] = DW;
							}


							app.dz_data.forEach((item) => {
								if(!item.img){
									draw_font(item.data, document.getElementById("dz"), app.font_size, app.font_color[item.index].rgb);
								}
								else{
									draw_img(item.data, app.font_color[item.index].rgb);
								}
							});
							app.send_disabled = false;
						}
					});
				},
				//插入图像
				insertImg(i) {
					if(this.font_size!=32){
						let l = this.input_value.length;
						this.input_value += "✿"; //使用特殊占位符代表图片
						
						//存入缓存区
						this.buffer_image.push(this.img[i]);
						//添加入点阵信息中
						this.dz_data.push({
							"index": l,
							"data": app.img[i].data,
							"img": true
						});
						this.preview();
					}
				},
				set_color() {
					//console.log(this.foreground_color);
					//console.log(this.background_color);
				},
				send() {
					this.send_disabled = true;
					this.send_data.is_sending = true;
					this.send_data.main.data = data_deal(this.dz_data, this.font_size, this.font_color);

					console.log("数据头格式: " + JSON.stringify(this.send_data.header.data));
					readData();
					setTimeout(function() {
						//发送数据字节16-32 32-128
						app.send_data.send_byte = app.dz_data.length * (6 * app.font_size - 64);
						//发送数据段数 
						app.send_data.send_length = app.send_data.send_byte / 16;
						//汉字各使用
						app.send_data.header.data[6] = app.font_size == 16 ? 1 : 0;
						app.send_data.end.data[6] = app.send_data.header.data[6];

						app.send_data.header.data[7] = app.dz_data.length;
						app.send_data.end.data[7] = app.dz_data.length;

						var len = app.send_data.send_byte;
						if (len < 255) {
							app.send_data.header.data[8] = 0;
							app.send_data.end.data[8] = 0;
							app.send_data.header.data[9] = len;
							app.send_data.end.data[9] = len;
						} else {
							let GW = Math.floor(len / 256);
							let DW = len % 256;
							app.send_data.header.data[8] = GW;
							app.send_data.end.data[8] = GW;
							app.send_data.header.data[9] = DW;
							app.send_data.end.data[9] = DW;
						}
						sendDecData(app.send_data.header.data, 10);
						setTimeout(function() {
							window.communication = setInterval(function() {
								var data = app.send_data.main.data;
								var i = app.send_data.send_index;
								if (app.send_data.main.isabled && i < app.send_data.send_length) {
									console.log("数据段" + i + " :" + JSON.stringify(data[i]));
									sendDecData(data[i], 16);
									app.send_data.send_index += 1;
									if (app.send_data.send_index == app.send_data.send_length) {
										app.send_data.send_index = 0;
										app.send_data.is_sending = false;
										app.send_disabled = false;
										clearInterval(window.communication);
									}
								}
							}, 200);
						}, 100);
					}, 100);


				},
				slide() {
					if (this.input_value.length > 1 && this.is_autoslide) {
						document.getElementById('slide').scrollTop = 0;
						var all_heigh = $("#slide")[0].scrollHeight;
						window.auto_slide = setInterval(function() {
							document.getElementById('slide').scrollTop += 10;
							if ($("#slide").scrollTop() + 96 >= all_heigh) {
								clearInterval(window.auto_slide);
								app.is_autoslide = false;
							}
						}, 100);
					}

				},
				special_effects(type) {
					this.send_data.header.data[5] = type;
					this.send_data.end.data[5] = type;
				},
				color_update(){
					for (var i = 0; i < this.input_value.length; i++) {
						if (this.font_color[i].rgb == "") {
							this.font_color[i].rgb = this.foreground_color;
						}
						if (this.font_color[i].rgb == "#FF0000") {
							this.font_color[i].value = 0;
						} else if (this.font_color[i].rgb == "#00FF00") {
							this.font_color[i].value = 1;
						} else if (this.font_color[i].rgb == "#0000FF") {
							this.font_color[i].value = 2;
						} else if (this.font_color[i].rgb == "#FFFF00") {
							this.font_color[i].value = 3;
						} else if (this.font_color[i].rgb == "#FF00FF") {
							this.font_color[i].value = 5;
						} else if (this.font_color[i].rgb == "00FFFF") {
							this.font_color[i].value = 4;
						} else if (this.font_color[i].rgb == "#FFFFFF") {
							this.font_color[i].value = 6;
						}
					}
					
					for (var i = 0; i < this.font_color.length; i++) {
						if (i >= this.input_value.length) {
							this.font_color[i].rgb = "";
							this.font_color[i].value = 0;
						}
					}
				}
			},
			computed: {
				input_length: function() {
					if (this.input_value.length >= 0) {
						//console.log(JSON.stringify(this.font_color));
						this.color_update();
					}
					if (this.input_value.indexOf('✿') == -1) {
						this.buffer_image = [];
					} else {
						let imgN = 0;
						for (var i = 0; i < this.input_value.length; i++) {
							if (this.input_value[i] == '✿') {
								imgN++;
							}
						}
						if (imgN < this.buffer_image.length) {
							this.buffer_image.length = imgN;
						}
					}
					if (this.input_value.length > 14) {
						this.input_value = this.input_value.substring(0, 14);
					}
					return this.input_value.length + "/14";
				},
				send_monitor: function() {

					if (this.return_data.lastIndexOf("56") == 0) {
						console.log("信息接收成功! " + this.return_data);
						this.send_data.main.isabled = true;
					} else if (this.return_data.lastIndexOf("66") == 0) {
						console.log("信息输入成功! " + this.return_data);
						sendDecData(this.send_data.end.data, 10);
					} else if (this.return_data.lastIndexOf("76") == 0) {
						console.log("数据发送成功!" + this.return_data);

					} else if (this.return_data.lastIndexOf("88") == 0) {
						console.log("发生错误" + this.return_data);
						window.location.reload();
					} else {
						//console.log("未知错误"+this.return_data);
					}
					if (this.device.isabled) {
						
						if (this.send_disabled) {
							return Math.floor(this.send_data.send_index / this.send_data.send_length * 100) + "%";
						} else {
							return "确认并发送";
						}
					} else {
						
						return ("无连接服务"+this.send_disabled).substring(0,5);
					}
					if(this.device.id!=''){
						this.send_disabled = false;
					}
				}
			},
			mounted() {
				this.img = simple_image;
				for (var i = 0; i < 14; i++) {
					this.font_color.push({
						"rgb": "",
						"value": 0
					})
				}
			}
		});

		app.preview();
		app.active = 0;

	</script>
</html>
