<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/devlist.css" />
		<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8"/>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		
		<!--Muse-UI框架引入-->
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<!--图标框引入-->
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/climacons-font.css" />
		<link rel="stylesheet" href="css/glyphicons.css" />
		<script src="js/mui.js"></script>
	</head>

	<body style="background: #515151;color: #FFFFFF;">
		
		<div id="app">
			<mu-appbar color="#515151">
			
				<mu-row gutter>
					<mu-col span="3">
						<div class="grid-cell">
						</div>
					</mu-col>
					<mu-col span="6">
						<div class="grid-cell">图片管理</div>
					</mu-col>
					<mu-col span="3">
						<div class="grid-cell"  @click="setView()">
							 <span >主页 <i class="fa fa-angle-right"> </i></span>
						</div>
					</mu-col>
				</mu-row>
			
			</mu-appbar>
			
			<div>
				<!--
				<mu-container>
					命令：<mu-text-field v-model="sqlText"></mu-text-field>
				</mu-container>	
				<mu-container class="button-wrapper">
				  <button  @click="sendCmd()">执行命令</button>
				<mu-container>
					<div style="border: #FFFFFF solid 1px;padding: 10px 20px; height: 200px;margin-top: 1.25rem;">{{result }}</div>
				-->
			
				<mu-list textline="two-line">
				
				    <mu-list-item avatar button :ripple="false" v-for="item in img">
				      <mu-list-item-action>
				        <mu-avatar>
				          <mu-icon value="folder"></mu-icon>
				        </mu-avatar>
				      </mu-list-item-action>
				      <mu-list-item-content>
				        <mu-list-item-title>{{item.title}}</mu-list-item-title>
				        <mu-list-item-sub-title>ID: {{item.id}}</mu-list-item-sub-title>
				      </mu-list-item-content>
				      <mu-list-item-action>
				        <mu-button icon @click="deleteImg(item.id)">
				          <mu-icon value="delete" ></mu-icon>
				        </mu-button>
				      </mu-list-item-action>
				    </mu-list-item>
				    
				  </mu-list>
			</div>
			
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper"></div>
		<script src="js/database/db.js"></script>
		<script>
			document.addEventListener("plusready", function() {
				
				openNewDB('main','_doc/imgData/imgData.db');
				
			
				plus.sqlite.executeSql({
						name: 'main',
						sql: 'create table if not exists imgdata(id int primary key not null, data text not null,title text not null)',
						success: function(e){
							console.log('初始化数据库成功');
						},
						fail: function(e){
							console.log('executeSql failed: '+JSON.stringify(e));
						}
				});
				
				plus.sqlite.selectSql({
					name: 'main',
					sql: 'select * from imgData',
					success: function(data) {
						console.log('selectSql success: ' + JSON.stringify(data));
						for (var i in data) {
							app.result += 'ID:'+ data[i].id + " - 名称："+data[i].title;
							app.img.push(data[i]);
						}

					},
					fail: function(e) {
						console.log('selectSql failed: ' + JSON.stringify(e));
					}
				});
				console.log("加载成功！");		
					closeDB('main');
			},true);
			var app = new Vue({
				el : '#app',
				data: {
					sqlText : '',
					form : '',
					result : '显示结果',
					img : []
				},
				methods:{
					sendCmd(){
						
						openNewDB('main','_doc/imgData/imgData.db');
					
						plus.sqlite.executeSql({
								name: 'main',
								sql: this.sqlText,
								success: function(e){
									this.result = '执行命令成功!';
									console.log('执行成功');	
								},
								fail: function(e){
									this.result = '执行失败: '+JSON.stringify(e);
									console.log('executeSql failed: '+JSON.stringify(e));
								}
						});
						
						selectSQL('main','select * from imgdata');
						
						closeDB('main');
					},
					setView() {
						window.location.href = "main.html";
					},
					deleteImg(id){
						/*
						openNewDB('main','_doc/imgData/imgData.db');
						executeSQL('main',"delete from imgData where id = "+id);
						closeDB('main');*/
						//alert("成功删除图像！");
						plus.nativeUI.confirm("确认删除?", function(e){
								console.log("Close confirm: "+e.index);
								if(e.index==0){
									openNewDB('main','_doc/imgData/imgData.db');
									executeSQL('main',"delete from imgData where id = "+id);
									closeDB('main');
									alert("成功删除图像！");
									window.location.reload();
								}
						});
						//window.location.reload();
					}
				}
			});
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						callback: pulldownRefresh
					}
				}
			});
			
			
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui.toast("刷新成功");
				setTimeout(function() {
					
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
					
				}, 1500);
				setTimeout(function(){
					window.location.reload();
				},500)
				
			}
		</script>
	</body>
</html>
