<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/devlist.css" />
		<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/bluetooth/BluetoothTool.js"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<!--Muse-UI框架引入-->
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<!--图标框引入-->
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/climacons-font.css" />
		<link rel="stylesheet" href="css/glyphicons.css" />
		<script src="js/mui.js"></script>
	</head>

	<body style="background: #515151;color: #FFFFFF;">

		<div id="app">
			<mu-appbar color="#515151">

				<mu-row gutter>
					<mu-col span="3">
						<div class="grid-cell" @click="devlistView()">
							<span><i class="fa  fa-chain"></i> {{devname}}</span>
						</div>
					</mu-col>
					<mu-col span="6">
						<div class="grid-cell"></div>
					</mu-col>
					<mu-col span="3">
						<div class="grid-cell" @click="setView()">
							<span> <i class="fa  fa-gear"> 设置 </i></span>
						</div>
					</mu-col>
				</mu-row>

			</mu-appbar>
			<div class="input1" :style="inputStyle">
				<div id="dz" style="overflow: scroll; width: 375rem;">
				</div>
			</div>


			<mu-container>
				<mu-tabs :value.sync="active" :full-width="true" indicator-color="#FFD700" style="height: 25px;">
					<mu-tab>字体</mu-tab>
					<mu-tab>颜色</mu-tab>
				</mu-tabs>
				<div class="demo-text" v-if="active === 0">
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="大小" v-model="fontSize" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontSizeOptions" :key="option" :label="option.toString()" :value="option"></mu-option>
								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字体" v-model="fontStyle" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontStyleOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>
					</mu-container>
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字符" v-model="inputLength" style="color: #FFFFFF;" disabled full-width>

								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="特效" v-model="effect" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in effectOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>

					</mu-container>
				</div>

				<div class="demo-text" v-if="active === 1">
					<div style="padding: 20px 10px;">
						<span>字体色：&nbsp; </span>
						<el-color-picker v-model="inputStyle.color" size="mini" show-alpha :change="changeFontColor()" :predefine="predefineColors"></el-color-picker>
						&nbsp;
						<span>背景色：&nbsp; </span>
						<el-color-picker v-model="inputStyle.background" size="mini" show-alpha :change="changeFontColor()" :predefine="predefineColors"></el-color-picker>
						&nbsp;
					</div>
				</div>
			</mu-container>

			<mu-container>
				<mu-form :model="form" class="mu-demo-form" label-position="top" label-width="100 " auto-validate>
					<mu-form-item prop="input" color="#FFFFFF">
						<mu-text-field v-model="sendInfo" style="color: #FF0000;" @blur="updateDz()"   @focus="edit()"></mu-text-field>
					</mu-form-item>
				</mu-form>
			</mu-container>
			<mu-container>
				<mu-row gutter>
					<mu-col span="8">
						<mu-select label="图片选择" chips v-model="imgTags" full-width>
							<mu-option v-for="option,index in img" :key="option.title" :label="option.title" :value="option.id"></mu-option>
						</mu-select>
					</mu-col>
					<mu-col span="4">
					<br>
						<mu-button color="primary" @click="insertImg()">显示图片</mu-button><br><br>
						<mu-button color="primary" @click="showGif()">上传动图</mu-button>
					<mu-col />
				</mu-row>
			</mu-container>
			<div class="key">
				<span>页面特效以及模式选择</span>
				<mu-container class="button-wrapper">
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini" @click="button1()">&nbsp;&nbsp;1&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini" @click="button2()">&nbsp;&nbsp;2&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini" @click="button3()">&nbsp;&nbsp;3&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini" @click="button4()">&nbsp;&nbsp;4&nbsp;&nbsp;</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini" @click="button5()">&nbsp;&nbsp;5&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini"  @click="button6()">&nbsp;&nbsp;6&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini" @click="button7()">&nbsp;&nbsp;7&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini" @click="button8()">&nbsp;&nbsp;8&nbsp;&nbsp;</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini" @click="leftmove()">左移</el-button>
						<el-button type="warning" size="mini" @click="rightmove()">右移</el-button>
						<el-button type="warning" size="mini" @click="staticImg()">固定</el-button>
						<el-button type="warning" size="mini">雪花</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini" @click="upmove()">上移</el-button>
						<el-button type="warning" size="mini" @click="downmove()" style="min-width: 60px;">下移</el-button>
						<el-button type="warning" size="mini" @click="shansuo()" style="min-width: 60px;">闪烁</el-button>
						<el-button type="warning" size="mini" style="min-width: 60px;">跑马灯</el-button>
					</el-row>
					<mu-container>
			</div>
			<mu-container class="button-wrapper">
				<mu-row gutter>
					<mu-col span=""></mu-col>
					<mu-col span="10">
						<el-row>
							<mu-button color="primary" full-width @click="sendDevInfo()" :disabled="disabled">{{sendTimer}}</mu-button>
						</el-row>
					</mu-col>
					<mu-col span="1"></mu-col>
				</mu-row>
				<mu-container>
				<div style="color: #FFFFFF; visibility: hidden;">{{sendTimer}}</div>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper"></div>
		<script src="js/main/imginput.js"></script>
		<script src="js/main/dight.js"></script>
		<script src="js/imgDzData/imgsdata16.js"></script>
		<script src="js/database/getDbImgdata.js"></script>
		<script src="js/database/db.js"></script>
		<script>
			var sss = ";"
			var app = new Vue({
				el: '#app',
				data: {
					dzInfo: [], //保存的点阵数据
					sendInfo: '你', //输入框显示数据
					sendDevData: '', //发送的设备数据(暂无用)
					colors:[{rgba:"",style:""}],  //每个数据的颜色集合
					active: 0, //切换页面变量(勿改)
					devname : '无连接',
					fontSize: 16, //数据的字体
					fontStyle: 'hzk16s', //数据的字体样式
					charLength: '0/20', //显示的字符串长度
					effect: '', //特效选择接收变量
					disabled : false,
					effectOptions: ['无', '镜像', '旋转90°', '旋转180°', '旋转270°', '旋转360°'], //特效选择
					fontSizeOptions: [12, 14, 16], //数据的字体大小选择
					fontStyleOptions: ['hzk16f', 'hzk16s', 'hzk16l', 'hzk16h','hzk16y', 'hzk16v','HZK16C','HZK16X'], //数据的字体样式选择
					predefineColors: [
						'rgb(255, 255, 255)',
						'rgb(255, 255, 0)',
						'rgb(255, 0, 255)',
						'rgb(0, 255, 255)',
						'rgb(255, 0, 0)',
						'rgb(0, 0, 255)',
						'rgb(0, 255, 0)',
						'rgb(0, 0, 0)',
					], //颜色选择
					imgTags: "选择", //图片输入框选择数据
					img: [
						{
							id: 998,
							title: '图片一',
							data: img1Data.trim()
						},
						{
							id: 999,
							title: '图片二',
							data: img2Data.trim()
						},
						{
							id: 1000,
							title: '电话',
							data: tel1Data
						},
						{
							id: 1001,
							title: '电话2',
							data: tel2Data
						},
						{
							id: 1002,
							title: '三角形1',
							data: Shape1
						},
						{
							id: 1003,
							title: '三角形2',
							data: Shape2
						},
						{
							id: 1004,
							title: '菱形',
							data: Shape3
						}
					], //图片选择数据
					existsImage: [

					], //图片已选择的缓存区
					form: {
						input: ''
					},
					inputStyle: { //背景色与字体色
						background: '#000000',
						color: 'rgba(255, 0, 0, 1)'
					},
					sendNumber: 0,
					stopNumber: 0,
					returnData: "",
					sendFontNumber:0,
					sendDataHeader : [85,0,1,1,1,1,1,1,0,96],
					sendDataEnd : [119,0,1,1,1,1,1,1,0,96],
					moveStyle : 1,
					sendAck : false
				},
				methods: {
					//跳转视图
					setView() {
						window.location.href = "setting.html";
					},
					showGif(){
							window.location.href = "sendImg.html";
					},
					devlistView() {
						window.location.href = "devlist.html";
					},

					edit(){
						this.disabled = true;
					},

					//颜色选择触发事件
					changeFontColor() {
						//console.log(this.inputStyle.color);
					},
					
					//更新点阵信息
					updateDz() {
						
						if (this.sendInfo.length >= 1) {
					
							this.dzInfo = [];
							let imgNumber = 0;
							for (var i = 0; i < this.sendInfo.length; i++) {

								if (this.sendInfo[i] != "✿") {
									this.showDZ(this.sendInfo[i], i,this.colors);
								} else {
									//console.log(this.existsImage[imgNumber].data);
									this.dzInfo.push({
										"index": i,
										"data": this.existsImage[imgNumber].data,
										"isImg": true,
										"color" : ""
									});
									imgNumber++;
								}
							}
						}
						else{
							this.dzInfo = [];
							document.getElementById('dz').innerHTML = "";
						}
					},
					//显示字体点阵信息
					showDZ(text, indexOfdz,colors) {
						console.log(JSON.stringify(colors));
						var dataArray = [];
						var url = '';
						if(this.fontSize==16){
							url = 'http://47.106.254.86:1234/server1.php';
						}
						else if(this.fontSize==14){
							url = 'http://47.106.254.86:1234/server3.php';
						}
						else if(this.fontSize==12){
							url = 'http://47.106.254.86:1234/server4.php';
						}
						else{
							url = 'http://47.106.254.86:1234/server1.php';
						}
						$.post(url, {txt: text,font: app.fontStyle},

							function(data, status) {

								var srt = JSON.parse(data);
								//接收的16进制数据转2进制
								srt.forEach((item) => {
									var zero = '00000000';
									var hex = parseInt(item, 16).toString(2);
									var tmp = 8 - hex.length;
									dataArray.push(zero.substr(0, tmp) + hex);
								});

								var fontData = dataArray.join('');

								//添加单个点阵信息
								app.dzInfo.push({
									"index": indexOfdz,
									"data": fontData,
									"isImg": false,
									"color": colors[indexOfdz].value
								});

								//数据一致显示点阵图像
								if (app.dzInfo.length == app.sendInfo.length) {
								
									document.getElementById('dz').innerHTML = "";
									
									setTimeout(function() {
										
										for (var l = 0; l < app.dzInfo.length; l++) {

											let fontData;

											//对应索引号
											for (let item in app.dzInfo) {
												if (app.dzInfo[item].index == l) {
													fontData = app.dzInfo[item].data;
												}
											}

											var canvas = document.createElement('canvas');
											var ctx2 = canvas.getContext('2d');
											//显示框的点阵方块大小默认96px
											canvas.width = 96;
											canvas.height = 96;

											//16*16的点阵信息
											for (let i = 0; i < 16; i++) {
												for (let j = 0; j < 16; j++) {
													if (fontData[i * 16 + j] == "1") {
														ctx2.beginPath();
														ctx2.arc((j + 0.5) * 6, 6 * (i + 0.5), 3, 0, 2 * Math.PI, true); //显示像素点的位置与大小 半径3 
														ctx2.fillStyle = colors[l].rgba; //填充颜色
														
														ctx2.fill();
													} else {

													}
												}
											}
											document.getElementById('dz').appendChild(canvas);
										}
										app.disabled = false;
									}, 2000);
								}
							});
								
					},
					//显示图像
					showImg(data, index) {
						this.updateDz();
						var canvas = document.createElement('canvas');
						var ctx2 = canvas.getContext('2d');
						canvas.width = 96;
						canvas.height = 96;

						for (let i = 0; i < 16; i++) {
							for (let j = 0; j < 16; j++) {
								if (data[i * 16 + j] == "1") {
									ctx2.beginPath();
									ctx2.arc((j + 0.5) * 6, 6 * (i + 0.5), 3, 0, 2 * Math.PI, true);
									ctx2.fillStyle = this.colors[index].rgba;
									ctx2.fill();
								} else {

								}
							}
						}
						document.getElementById('dz').appendChild(canvas);
					},
					//插入图像
					insertImg() {
						for (let item in this.img) {
							if (this.imgTags == this.img[item].id) {
								let l = this.dzInfo.length;
								this.sendInfo += "✿"; //使用特殊占位符代表图片

								//存入缓存区
								this.existsImage.push({
									"id": this.img[item].id,
									"data": this.img[item].data,
									"index": l
								});
								//添加入点阵信息中
								this.dzInfo.push({
									"index": this.dzInfo.length,
									"data": this.img[item].data,
									"isImg": true,
									"color": this.inputStyle.color
								})
								//更新显示
								this.showImg(this.img[item].data, l);
							}
						}
					},
					//发送信息
					sendDevInfo() {
						closeDB();
						
						this.disabled = true;
						var len = 0;
						if(app.moveStyle==1){
							app.stopNumber = (app.dzInfo.length*32+app.moveStyle*32+64)/16;
							
							len  = (app.dzInfo.length*32+app.moveStyle*32+64);
							console.log(len);
						}
						else{
							app.stopNumber = (app.dzInfo.length*32+app.moveStyle*64)/16;
							
							len  =  (app.dzInfo.length*32+app.moveStyle*64);
							console.log(len);
						}
					
						
						if(len<=255){
							app.sendDataHeader[8] = 0;
							app.sendDataEnd[8] = 0;	
							app.sendDataHeader[9] = len;
							app.sendDataEnd[9] = len;	
						}
						else{
							let GW = Math.floor(len/256);
							let DW = len % 256;	
							app.sendDataHeader[8] = GW;
							app.sendDataEnd[8] = GW;	
							app.sendDataHeader[9] = DW;
							app.sendDataEnd[9] = DW;	
						}
						
						console.log("START:"+JSON.stringify(app.sendDataHeader));
						
						setTimeout(function(){
							app.dzInfo.sort(function(a,b){
							  return a.index-b.index;
							});
							sendDecData(app.sendDataHeader,10);
							readData();
							
							setTimeout(function(){
								var metaData = [];
								var sendMetaData = [];
								if(app.moveStyle==2){
									for (var i = 0; i < 64; i++) {
										metaData[i] = 0;
									}
								}
								else{
									for (var i = 0; i < 32; i++) {
										metaData[i] = 0;
									}
								}

								app.dzInfo.forEach((item,index)=> {

									let data = new Array();
								
									for (var i = 0; i < item.data.length / 8; i++) {
								
										let rtl = item.data.substr(i * 8, 8).split("").reverse().join("");
										
										let dec = parseInt(rtl, 2);
										
										data.push(dec);
										
									}
									
									for (let i in data) {
										if (i % 2 == 0) {
											metaData.push(data[i]);
										}
									}	
										
									for (let i in data) {
										if (i % 2 == 1) {
											metaData.push(data[i]);
										}
									}
						
								});
								
								if(app.moveStyle==2){
									for (var i = 0; i < 64; i++) {
										metaData.push(0);
									}
								}
								else{
									for (var i = 0; i < 64; i++) {
										metaData.push(0);
									}
								}
								//-
								//console.log(JSON.stringify(metaData));
								
								let meta = [];
								for (var i = 0; i < metaData.length; i++) {
									meta.push(metaData[i]);
									if((i+1)%16==0){
										sendMetaData.push(meta);
										meta = [];
									}
								}
								
								window.sfd = setInterval(function(){	
									if(app.sendFontNumber<app.stopNumber && app.sendAck){
											
											//console.log("c:"+app.sendFontNumber+"   "+ JSON.stringify(sendMetaData[app.sendFontNumber]));	
											sendDecData(sendMetaData[app.sendFontNumber],16);
											app.sendFontNumber++;
											if(app.sendFontNumber==app.stopNumber){
												
													console.log("END:"+JSON.stringify(app.sendDataEnd));
												
												
											}
									}
									
								},200);
								
							},100);
						
						},100);
						
						
						
					},
					button1() {		
						this.disabled = true;
						this.sendInfo = "信息一";
						this.updateDz();
						
					},
					button2() {
						this.disabled = true;
						this.sendInfo = "信息二";
						this.updateDz();
					},
					button3() {
						this.disabled = true;
						this.sendInfo = "信息三";
						this.updateDz();
					},
					button4() {
						this.disabled = true;
						this.sendInfo = "信息四";
						this.updateDz();
					},
					button5() {
						this.disabled = true;
						this.sendInfo = "信息五";
						this.updateDz();
					},
					button6() {
						this.disabled = true;
						this.sendInfo = "信息六";
						this.updateDz();
					},
					button7(){
						this.disabled = true;
						this.sendInfo = "信息七";
						this.updateDz();
					},
					button8(){
						this.disabled = true;
						this.sendInfo = "信息八";
						this.updateDz();
					},
					shansuo(){
						this.moveStyle = 1;
						app.sendDataHeader[5] = 6;
						app.sendDataEnd[5] = 6;
					},
					upmove(){
						this.moveStyle = 1;
						this.sendDataHeader[5] = 2;
						this.sendDataEnd[5] = 2;
					},
					downmove(){
						this.moveStyle = 1;
						this.sendDataHeader[5] = 3;
						this.sendDataEnd[5] = 3;
					},
					leftmove(){
						this.moveStyle = 2;
						this.sendDataHeader[5] = 4;
						this.sendDataEnd[5] = 4;
					},
					rightmove(){
						this.moveStyle = 2;
						this.sendDataHeader[5] = 5;
						this.sendDataEnd[5] = 5;
					},
					staticImg(){
						this.moveStyle = 1;
						this.sendDataHeader[5] = 1;
						this.sendDataEnd[5] = 1;
					},
				},
				computed: {
					//输入框监听,删除特殊符号去除缓存中的最后一个,所以按照顺序删除
					inputLength: function() {

						if(this.sendInfo.length>20){
							this.sendInfo = "";
						}
			
						
						if (this.sendInfo.indexOf('✿') == -1) {
							this.existsImage = [];
						} else {
							let imgN = 0;
							for (var i = 0; i < this.sendInfo.length; i++) {
								if (this.sendInfo[i] == '✿') {
									imgN++;
								}
							}
							if (imgN < this.existsImage.length) {
								this.existsImage.length = imgN;
							}
						}
						//每个字体颜色
						
						if(this.sendInfo.length>=0){
							//this.colors[this.sendInfo.length] = this.inputStyle.color;
							for (var i = 0; i < this.sendInfo.length; i++) {
								if(this.colors[i].rgba==""){
									this.colors[i].rgba=this.inputStyle.color;
								}
								if(this.colors[i].rgba=="rgba(255, 0, 0, 1)"){
									this.colors[i].value = 224;
								}
								else if(this.colors[i].rgba=="rgba(0, 255, 0, 1)"){
									this.colors[i].value = 28;
								}
								else if(this.colors[i].rgba=="rgba(0, 0, 255, 1)"){
									this.colors[i].value = 3;
								}
								else if(this.colors[i].rgba=="rgba(255, 255, 0, 1)"){
									this.colors[i].value = 252;
								}
								else if(this.colors[i].rgba=="rgba(255, 0, 255, 1)"){
									this.colors[i].value = 227;
								}
								else if(this.colors[i].rgba=="rgba(0, 255, 255, 1)"){
									this.colors[i].value = 31;
								}
								else if(this.colors[i].rgba=="rgba(255, 255, 255, 1)"){
									this.colors[i].value = 255;
								}
							}
							for (var i = 0; i < this.colors.length; i++) {
								if(i>=this.sendInfo.length){
									this.colors[i].rgba="";
									this.colors[i].value = 0;
								}
							}
						}
						
						
						
						return this.sendInfo.length + "/20";
					},
					sendTimer: function() {
						
						if(this.returnData.lastIndexOf("56")==0){
							console.log("头部信息接收成功!"+this.returnData);
							this.sendAck = true;
						}
						else if(this.returnData.lastIndexOf("66")==0){
							console.log("信息输入成功!"+this.returnData);
							sendDecData(this.sendDataEnd,10);
						}
						else if(this.returnData.lastIndexOf("76")==0){
							console.log("数据发送成功!"+this.returnData);
							this.sendAck = false;
							this.disabled = false;
							return "发送数据";
						}
						else if(this.returnData.lastIndexOf("88")==0){
							console.log("发生错误"+this.returnData);
							window.location.reload();
						}
						else{
							
						}
						
						
						if (this.sendNumber >= 64) {
							clearInterval(window.timerS);
							app.sendNumber = 0;
						}
						if(this.sendFontNumber >= this.stopNumber){
							clearInterval(window.sfd);
							this.sendFontNumber = 0;
							this.stopNumber = 32;
							this.disabled = false;
							return "发送数据";
						}
						else{
							this.disabled = true;
							return Math.floor(this.sendFontNumber/this.stopNumber*100)+"%";
						}
						
					}
				},
				mounted() {
					for (var i = 0; i < 20; i++) {
						this.colors.push({"rgba":"","value":0})
					}
				}
			});
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui.toast("刷新成功");
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
				setTimeout(function() {
					window.location.reload();
				}, 500)

			}
			app.updateDz();
			openDB();

		</script>
	</body>
</html>
