<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/devlist.css" />
		<link rel="stylesheet" href="css/common.css" type="text/css" charset="utf-8" />
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript" src="js/update.js"></script>
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/ble.js"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<!--Muse-UI框架引入-->
		<link rel="stylesheet" href="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.css" />
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/muse-ui@3.0.2/dist/muse-ui.js"></script>
		<script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
		<!--图标框引入-->
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/climacons-font.css" />
		<link rel="stylesheet" href="css/glyphicons.css" />
		<script src="js/mui.js"></script>
	</head>

	<body style="background: #515151;color: #FFFFFF;">

		<div id="app">
			<mu-appbar color="#515151">

				<mu-row gutter>
					<mu-col span="3">
						<div class="grid-cell" @click="devlistView()">
							<span><i class="fa  fa-chain"></i> {{devname}}</span>
						</div>
					</mu-col>
					<mu-col span="6">
						<div class="grid-cell"></div>
					</mu-col>
					<mu-col span="3">
						<div class="grid-cell" @click="setView()">
							<span> <i class="fa  fa-gear"> 设置 </i></span>
						</div>
					</mu-col>
				</mu-row>

			</mu-appbar>
			<div class="input1" :style="inputStyle">
				<div id="dz" style="overflow: scroll; width: 375rem;">
				</div>
			</div>


			<mu-container>
				<mu-tabs :value.sync="active" :full-width="true" indicator-color="#FFD700" style="height: 25px;">
					<mu-tab>字体</mu-tab>
					<mu-tab>颜色</mu-tab>
				</mu-tabs>
				<div class="demo-text" v-if="active === 0">
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="大小" v-model="fontSize" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontSizeOptions" :key="option" :label="option.toString()" :value="option"></mu-option>
								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字体" v-model="fontStyle" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in fontStyleOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>
					</mu-container>
					<mu-container>
						<mu-row gutter>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="字符" v-model="inputLength" style="color: #FFFFFF;" disabled full-width>

								</mu-select>
							</mu-col>
							<mu-col span="6" lg="6" sm="6">
								<mu-select label="特效" v-model="effect" style="color: #FFFFFF;" full-width>
									<mu-option v-for="option,index in effectOptions" :key="option" :label="option" :value="option"></mu-option>
								</mu-select>
							</mu-col>
						</mu-row>

					</mu-container>
				</div>

				<div class="demo-text" v-if="active === 1">
					<div style="padding: 20px 10px;">
						<span>字体色：&nbsp; </span>
						<el-color-picker v-model="inputStyle.color" size="mini" show-alpha :change="changeFontColor()" :predefine="predefineColors"></el-color-picker>
						&nbsp;
						<span>背景色：&nbsp; </span>
						<el-color-picker v-model="inputStyle.background" size="mini" show-alpha :change="changeFontColor()" :predefine="predefineColors"></el-color-picker>
						&nbsp;
					</div>
				</div>
			</mu-container>

			<mu-container>
				<mu-form :model="form" class="mu-demo-form" label-position="top" label-width="100 " auto-validate>
					<mu-form-item prop="input" color="#FFFFFF">
						<mu-text-field v-model="sendInfo" style="color: #FF0000;" @blur="updateDz()"></mu-text-field>
					</mu-form-item>
				</mu-form>
			</mu-container>
			<mu-container>
				<mu-row gutter>
					<mu-col span="8">
						<mu-select label="图片选择" chips v-model="imgTags" full-width>
							<mu-option v-for="option,index in img" :key="option.title" :label="option.title" :value="option.id"></mu-option>
						</mu-select>
					</mu-col>
					<mu-col span="4">
						<br>
						<mu-button color="primary" @click="insertImg()">上传图片</mu-button>
						<mu-col />
				</mu-row>
			</mu-container>
			<div class="key">
				<span>页面特效以及模式选择</span>
				<mu-container class="button-wrapper">
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini">&nbsp;&nbsp;1&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;2&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;3&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;4&nbsp;&nbsp;</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini">&nbsp;&nbsp;5&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;6&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;7&nbsp;&nbsp;</el-button>
						<el-button type="warning" size="mini">&nbsp;&nbsp;8&nbsp;&nbsp;</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini">左移</el-button>
						<el-button type="warning" size="mini">右移</el-button>
						<el-button type="warning" size="mini">固定</el-button>
						<el-button type="warning" size="mini">雪花</el-button>
					</el-row>
					<el-row style="margin-top: 0.5rem;">
						<el-button type="warning" size="mini">上移</el-button>
						<el-button type="warning" size="mini" style="min-width: 60px;">下移</el-button>
						<el-button type="warning" size="mini" style="min-width: 60px;">闪烁</el-button>
						<el-button type="warning" size="mini" style="min-width: 60px;">跑马灯</el-button>
					</el-row>
					<mu-container>
			</div>
			<mu-container class="button-wrapper">
				<mu-row gutter>
					<mu-col span=""></mu-col>
					<mu-col span="10">
						<el-row>
							<mu-button color="primary" full-width @click="sendDevInfo()">发送命令</mu-button>
						</el-row>
					</mu-col>
					<mu-col span="1"></mu-col>
				</mu-row>
			<mu-container>
		</div>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper"></div>
		<script src="js/main/imginput.js"></script>
		<script src="js/main/dight.js"></script>
		<script src="js/imgDzData/imgsdata16.js"></script>
		<script src="js/database/getDbImgdata.js"></script>
		<script src="js/database/db.js"></script>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					dzInfo: [],
					sendInfo: '你好',
					active: 0,
					devname: '无连接',
					fontSize: 16,
					fontStyle: '宋体',
					charLength: '0/50',
					effect: '',
					custom: '',
					effectOptions: ['无', '镜像', '旋转90°', '旋转180°', '旋转270°', '旋转360°'],
					fontSizeOptions: [12, 14, 16],
					fontStyleOptions: ['宋体', '雅黑', 'Arial', 'New Roman', 'Verdana'],
					predefineColors: [
						'rgb(255, 255, 255)',
						'rgb(255, 255, 0)',
						'rgb(255, 0, 255)',
						'rgb(0, 255, 255)',
						'rgb(255, 0, 0)',
						'rgb(0, 0, 255)',
						'rgb(0, 255, 0)',
						'rgb(0, 0, 0)',
					],
					imgTags: "选择",
					img: [
						{
							id: 98,
							title: '图片一',
							data: img1Data.trim()
						},
						{
							id: 99,
							title: '图片二',
							data: img2Data.trim()
						}
					],
					existsImage: [

					],
					form: {
						input: ''
					},
					inputStyle: {
						background: '#000000',
						color: 'FFFFFF'
					}
				},
				methods: {
					setView() {
						window.location.href = "setting.html";
					},
					devlistView() {
						window.location.href = "devlist.html";
					},
					changeFontColor() {

					},
					updateDz() {
						if (this.sendInfo.length >= 1){
							this.dzInfo = [];
							let imgNumber = 0;
							for (var i = 0; i < this.sendInfo.length; i++) {

								if (this.sendInfo[i] != "*") {
									this.showDZ(this.sendInfo[i], i);
								} 
								else {
									//console.log(this.existsImage[imgNumber].data);
									this.dzInfo.push({"index":i,"data":this.existsImage[imgNumber].data,"isImg":true});
									imgNumber++;
								}
							}

						}
					},
					showDZ(text, indexOfdz) {
						var dataArray = [];

						$.post("http://47.106.254.86:1234/server1.php", {
								txt: text,
							},

							function(data, status) {
								console.log("SCUUSE! TEXT:"+text+" I:"+indexOfdz);
								
								var srt = JSON.parse(data);

								srt.forEach((item) => {
									var zero = '00000000';
									var hex = parseInt(item, 16).toString(2);
									var tmp = 8 - hex.length;
									dataArray.push(zero.substr(0, tmp) + hex);
								});

								var fontData = dataArray.join('');

								app.dzInfo.push({
									"index": indexOfdz,
									"data": fontData,
									"isImg": false
								});

								if (app.dzInfo.length == app.sendInfo.length) {

									document.getElementById('dz').innerHTML = "";

									setTimeout(function() {
										
										for (var l = 0; l < app.dzInfo.length; l++) {

											let fontData;

											for (let item in app.dzInfo) {
												if (app.dzInfo[item].index == l) {
													fontData = app.dzInfo[item].data;
												}
											}

											var canvas = document.createElement('canvas');
											var ctx2 = canvas.getContext('2d');
											canvas.width = 96;
											canvas.height = 96;

											for (let i = 0; i < 16; i++) {
												for (let j = 0; j < 16; j++) {
													if (fontData[i * 16 + j] == "1") {
														ctx2.beginPath();
														ctx2.arc((j + 0.5) * 6, 6 * (i + 0.5), 3, 0, 2 * Math.PI, true);
														ctx2.fillStyle = "rgba(255,0,0,255)";
														ctx2.fill();
													} else {

													}
												}
											}
											document.getElementById('dz').appendChild(canvas);
										}
									}, 2000);
								}
							});

					},
					showImg(data, index) {
						var canvas = document.createElement('canvas');
						var ctx2 = canvas.getContext('2d');
						canvas.width = 96;
						canvas.height = 96;

						for (let i = 0; i < 16; i++) {
							for (let j = 0; j < 16; j++) {
								if (data[i * 16 + j] == "1") {
									ctx2.beginPath();
									ctx2.arc((j + 0.5) * 6, 6 * (i + 0.5), 3, 0, 2 * Math.PI, true);
									ctx2.fillStyle = "rgba(255,0,0,255)";
									ctx2.fill();
								} else {

								}
							}
						}
						document.getElementById('dz').appendChild(canvas);
					},
					insertImg() {
						for (let item in this.img) {
							if (this.imgTags == this.img[item].id) {
								let l = this.dzInfo.length;
								this.sendInfo += "*";
								this.existsImage.push({
									"id": this.img[item].id,
									"data": this.img[item].data,
									"index": l
								});
								this.showImg(this.img[item].data, l);
								console.log(this.img[item].title);
							}
						}
					},
					sendDevInfo(){
						console.log("aaa");
						closeDB('main');
					}
				},
				computed: {
					inputLength: function() {
						
						if(this.sendInfo.indexOf('*')==-1){
							this.existsImage = [];
						}
						else{
							let imgN = 0;
							for (var i = 0; i < this.sendInfo.length; i++) {
								if(this.sendInfo[i]=='*'){
									imgN++;
								}
							}		
							if(imgN<this.existsImage.length){
								this.existsImage.length = imgN;
							}
						}
					
						
						return this.sendInfo.length + "/50";
					}
				}
			});
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				mui.toast("刷新成功");
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
				setTimeout(function() {
					window.location.reload();
				}, 500)

			}
			app.updateDz();
			openDB();
		</script>
	</body>
</html>
