@import url("https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css");

.input1 {
	//background: #000000;
	height: 7rem;
	margin: 8px 4px;
	border: 1px solid #E0E2E4;
	padding: 4px 2px;
	border-radius: 10px;
	overflow: scroll;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
}
canvas{
	float: left;
}
.pad {
	margin-top: -14px;
}

.popover {
	width: 100px;
	color: #000066;
}

.key {
	margin: 10px 5px;
	background: #424242;
	padding: 10px 20px;
	border-radius: 10px;
}

.key button {
	min-width: 63.5px;
}

.buttonwidth {
	min-width: 60px;
}
canvas {
	padding: -2px;
	margin: -1px;
}

.tran90{
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	transform:rotate(-180deg);
}